<p id="who">
  <strong>Who:</strong>
  The course is for people working in library- and information-related roles.
  <strong>
    You don't need to have any previous knowledge of the tools that
    will be presented at the workshop.
  </strong>
  Attendance is capped at <strong>25 registrants</strong> and lunch is provided. 
  Register using this <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=OX9aur7js0q0UGf6gPrsrW7-BU3HxaBJv2VfGkQ-R9NUOUpCMlBSWDdBTjlGV0JNWjZRUU1DNFJBSy4u" target="_blank">form</a>.
</p>
